{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}smile{% endblock %} :: Smiley</title>
    <link rel="stylesheet" type="text/css" href="{% static 'smiley/style.css' %}">
</head>
<body>

<div class="parent1">
{#    <div class="block_left1"></div>#}
    <l_ class="left1">LEFT</l_>
    <c_ class="center1"></c_>
{#    <div class="block_right1"></div>#}
    <r_ class="right1">RIGHT</r_>
    <p class="bg1"></p>
</div>

<div class="parent">

    <div class="child-left"></div>
    <div class="child-right"></div>
    <div class="block_left"></div>
    <div class="block_right"></div>
    <div class="bg"></div>
</div>




<div class="center">
    <span></span>
</div>
<div id="blok1">
    <div id="blok2"><p style="font-size: 20px">s</p></div>
    <div id="blok4"><p style="font-size: 20px">s</p></div>
</div>


<s>
    :)
</s>
<b>
    :(
</b>



<strong class="box_left">
    <span class="left">
        :)
    </span>
</strong>
<div class="box_right">
    <span class="right">
        :(
    </span>
</div>

<div class="center" style="background-color: aquamarine">
    <span style="font-size: 30px; text-align: center; width: 20%; ">g</span>
</div>



<div class="center" style="background-color: aquamarine">
    <span style="font-size: 30px; text-align: center; width: 20%; ">g</span>
</div>


</body>
</html>






















